<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net452" />
  <package id="Autofac.Mvc5" version="4.0.2" targetFramework="net452" />
  <package id="AutoMapper" version="5.2.0" targetFramework="net452" />
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="dbup-core" version="4.1.0" targetFramework="net452" />
  <package id="dbup-sqlserver" version="4.1.0" targetFramework="net452" />
  <package id="EventFlow" version="0.64.3598" targetFramework="net452" />
  <package id="EventFlow.Sql" version="0.64.3598" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="RedLock.net.StrongName" version="1.7.4" targetFramework="net452" />
  <package id="StackExchange.Redis.StrongName" version="1.2.1" targetFramework="net452" />
</packages>